{{define "title"}}About{{end}}
{{define "main"}}
<h2>About SnippetBox</h2>
<p> A server-side rendering web application written in Golang similar to Github Gist. SnippetBox is a platform that
  allows developers to save, store, and share their code snippets with others. With its intuitive user interface and
  robust back-end. SnippetBox is the perfect solution for developers looking to organize their code and collaborate
  with their peers. Whether you're a beginner or a seasoned pro, SnippetBox is the ideal place to store, share, and
  discover code snippets. </p>
{{end}}
